@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Source+Sans+Pro:wght@600&display=swap');

.side-bar {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 4vh;
    background-color: #e9c46a;
    text-align: center;
}

.option {
    background-color: #e9c46a;
    transition: background-color 0.5s;
    width: 100%;
}

.option:hover {
    background-color: #c7a85b;
}

.option-title {
    font-family: 'Heebo', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 5px;
}